/* testscore */
.subject-card {
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px; /* Reduced padding */
    font-size: 0.9rem; /* Smaller text size */
}

.subject-card .icon-small {
font-size: 1.5rem; /* Smaller icon */
}

.subject-card.selected {
background-color: #47b4c5; /* Bootstrap Info Color */
color: white;
transform: scale(1.05); /* Slightly enlarge the selected card */
}

.subject-card.selected .card-category {
color: black; /* Change the subject name to black */
}

.subject-card:hover {
background-color: #bfd9f2; /* Light grey on hover */
}

.subject-card .card-category {
font-size: 0.85rem; /* Smaller category text */
margin-bottom: 0.5rem; /* Less spacing */
}

.subject-card h5.card-title {
font-size: 1rem; /* Smaller title text */
margin: 0;
}